.article{
  background-color: #ffffff;
  padding: 48px 65px 48px 65px;
  h1{
    color: 262626;
    font-size: 36px;
    padding-bottom: 24px;
  }
  p{
    color: #262626;
    font-size: 22px;
    line-height: 1.1;
    padding-bottom: 27px;
  }
}