.clients{
  background-color: #ffffff;
  &_title{
    color: #ffffff;
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding: 19px 0 19px 0;
    background-color: #c80017;
  }
  &_arrow{
    display: inline-block;
    font-size: 20px;
    width: 23px;
    height: 19px;
    background: url('../image/arrowd.png') no-repeat;
    position: relative;
    top: 2px;
  }
  /*.bx-wrapper .bx-viewport {
    left: -2px;
    padding-right: 2px;
  }*/
  .bx-wrapper {
    position: relative;
    padding: 45px 0px 45px 0px;
    @include respond(1200){
      padding: 45px 50px 45px 50px;
    }
  }
  .bx-wrapper img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  /* LOADER */

  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../image/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  /* DIRECTION CONTROLS (NEXT / PREV) */

  .bx-wrapper .bx-prev {
    left: -62px;
    @include respond(1200){
      left: 0px;
    }
    background: url("../image/slider-arrows.png") 0px 0px no-repeat #fff;
    opacity: 0.8;
  }

  .bx-wrapper .bx-next {
    right: -62px;
    @include respond(1200){
      right: 0px;
    }
    background: url("../image/slider-arrows.png") 0px 0px no-repeat #fff;
    background-position: -15px 0;
    opacity: 0.8;
  }

  .bx-wrapper .bx-prev:hover {
    opacity: 1;
  }

  .bx-wrapper .bx-next:hover {
    opacity: 1;
  }

  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 35%;
    outline: 0;
    width: 15px;
    height: 48px;
    text-indent: -9999px;
    z-index: 9999;
    @include def-transition(opacity, $time:0.2s)
  }

  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }

  /* AUTO CONTROLS (START / STOP) */

  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }

  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../image/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
  }

  .bx-wrapper .bx-controls-auto .bx-start:hover,
  .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
  }

  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../image/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
  }

  .bx-wrapper .bx-controls-auto .bx-stop:hover,
  .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
  }

  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
  }

  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
  }
}










.bx-wrapper {
    position: relative;
    padding: 45px 0px 45px 0px;
  }
  .bx-wrapper img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  /* LOADER */

  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../image/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  /* DIRECTION CONTROLS (NEXT / PREV) */

  .bx-wrapper .bx-prev {
    left: -62px;
    background: url("../image/slider-arrows.png") 0px 0px no-repeat #fff;
    opacity: 0.8;
  }

  .bx-wrapper .bx-next {
    right: -62px;
    background: url("../image/slider-arrows.png") 0px 0px no-repeat #fff;
    background-position: -15px 0;
    opacity: 0.8;
  }

  .bx-wrapper .bx-prev:hover {
    opacity: 1;
  }

  .bx-wrapper .bx-next:hover {
    opacity: 1;
  }

  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 35%;
    outline: 0;
    width: 15px;
    height: 48px;
    text-indent: -9999px;
    z-index: 9999;
    @include def-transition(opacity, $time:0.2s)
  }

  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }

  /* AUTO CONTROLS (START / STOP) */

  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }

  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../image/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
  }

  .bx-wrapper .bx-controls-auto .bx-start:hover,
  .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
  }

  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../image/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
  }

  .bx-wrapper .bx-controls-auto .bx-stop:hover,
  .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
  }

  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
  }

  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
  }