.logo{
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  .header &{
    float: left;
    margin-top: 3px;
    background: url('../image/logo.png') no-repeat;
    width: 208px;
    height: 70px;
  }
  .footer &{
    float: left;
    width: 208px;
    height: 96px;
    background: url('../image/logo2.png') no-repeat;
    margin-left: 65px;
  }
}